.advantages {
    position: relative;
    background-color: #F2F6F9;
    text-align: center;
    z-index: -2;
    &_title {
        margin-bottom: 20px;
    }
    &_desc {
        width: 64%;
        margin: 0 auto;
        & span {
            font-weight: 700;
        }
    }
    &_bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 200px;
        line-height: 1;
        color: rgba(35, 124, 188, 0.08);
        z-index: -1;

    }
}